@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* CSS Variables */
:root {
    /* Primary Colors */
    --dark-blue: hsl(233, 47%, 7%);         /* very dark blue (main background) */
    --desaturated-blue: hsl(244, 38%, 16%); /* dark desaturated blue (card background)*/
    --soft-violet: hsl(277, 64%, 61%);      /* soft violet (accent) */

    /* Neutral Colors */
    --pure-white: hsl(0, 0%, 100%);             /* white (main heading, stats) */
    --main-white: hsla(0, 0%, 100%, 0.75);      /* slightly transparent white (main paragraph) */
    --secondary-white: hsla(0, 0%, 100%, 0.6);  /* slightly transparent white (stat headings) */

    /* Font Family */
    --font-inter: 'Inter', sans-serif;
    --font-lexend: 'Lexend Deca', sans-serif;

    /* Font Weight */
    --font-normal: 400;
    --font-bold: 700;

    /* Font Size */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Margins */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
}

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body {
    background-color: var(--dark-blue);
    color: var(--pure-white);
    font-size: 15px;
    font-family: var(--font-inter);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
}
img {
    width: 100%;
    display: block;
    object-fit: cover;
}
a {
    text-decoration: none;
}

/* Card Section Styles */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 270px;
    margin: 0 auto;
}
.card__img .desktop__img {
    display: none;
}
.card__img .mobile__img {
    height: 200px;
    border-radius: .5rem .5rem 0 0;
}
.card__details {
    border-radius: 0 0 .5rem .5rem;
}
.card__details {
    background-color: var(--desaturated-blue);
    padding: var(--mb-2) var(--mb-1-5);
}
.card__description {
    margin: 0 0 var(--mb-2);
}
.card__heading {
    font-weight: var(--font-bold);
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-1);
}
.card__heading span {
    color: var(--soft-violet);
}
.card__text {
    font-size: var(--small-font-size);
    font-weight: var(--font-normal);
    color: var(--main-white);
    line-height: 1.6;
}
.statistics__title {
    font-size: var(--h2-font-size);
    margin: 0 0 var(--mb-0-25);
}
.statistics__subtitle {
    text-transform: uppercase;
    font-family: var(--font-lexend);
    font-size: .7rem;
    color: var(--secondary-white);
}
.statistics:not(.queries.statistics) {
    margin: 0 0 var(--mb-1);
}

/* Footer Section Styles */
#footer {
    position: absolute;
    width: 100%;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Responsive Layout - Large Screens */
@media screen and (min-width: 425px) {
    .card {
        background-color: var(--desaturated-blue);
        flex-direction: row-reverse;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        height: auto;
    }
    .card__img .mobile__img {
        display: none;
    }
    .card__img .desktop__img {
        display: block;
    }
    .card__details {
        text-align: left;
        padding: var(--mb-3);
    }
    .card__statistics {
        display: flex;
    }
}
